Week01/bin/*
Week01/.project
Week01/.classpath
Week01/.gitignore
Week01/.settings/*
Week02/bin/* 
Week02/.project
Week02/.classpath
Week02/.gitignore
Week02/.settings/*
WeeK03/bin/*
Week03/.project
Week03/.classpath
Week03/.gitignore
Week03/.settings/*
Week04/bin/*
Week04/.project
Week04/.classpath
Week04/.gitignore
Week04/.settings/*
Week05/bin/*
Week05/.project
Week05/.classpath
Week05/.gitignore
Week05/.settings/*
Week06/bin/*
Week06/.project
Week06/.classpath
Week06/.gitignore
Week06/.settings/*
